<div id="CalculatorOutput">
    @if (ViewBag.ValidResult != false)
    {
        <p>Answer = @(ViewBag.Quotient)</p>
    }
    else
    {
        <p>@(ViewBag.Message)</p>
    }
    
<div class="form-group">
        <a href="~/UrlCalculator" class="btn btn-default">
            Return</a> 
    </div>
        
</div>