<h2>Wind Chill Table Generator</h2>

<form action="TableGenerator/Index" method="post" id="CalculatorInputForm">
    <div class="form-group">
        <label for="principle">Enter the current temperature:</label>
        <input type="text" name="temperature" class="form-control">

    </div>

    <div class="form-group">
        <label for="rate">Enter the current wind speed:</label>
        <input type="text" name="windSpeed" class="form-control" >
    </div>

    <div class="form-group">
        <input type="submit" name="submit" value="Display Table" class="btn btn-default">
    </div>

</form>